{% extends "app/adminestudiante.html" %} 
{% block contenido %}

<form action= "{% url 'app:adminprofesorescrear' %}" method="POST" >

    {% csrf_token %}

        <div class="formulario">
            <div class="area1">
                <h1 style="color:#244f92;">Profesores</h1>
                    <label for="">Nombres</label>
                    <input type="text"  size="30" class="input-texto" name="nombre" >
                    <br>
                    <br>
                    <label for="">Apellidos</label>
                    <input type="text" size="30" class="input-texto " name="apellido" >
                    <br>
                    <br>
                    <label for="">Email</label>
                    <input type="email" size="30" class="input-texto" style=" margin-left: 18px; " name="email">
            </div> 
            <div class="area2">
                <label for="">Cátedra</label>
                <input type="checkbox" size="30" style=" margin-left: 18px; " name="catedra">
                <br>
                <br>
                <label for="">Documento</label>
                <input type="text" class="input-texto" name="documento" size="30" style=" margin-left: 53px; " name="documento" >
                <br>
                <br>
                <label for="">Nombre de usuario</label>
                <input type="text" class="input-texto" name="username" size="30" name="username" >
                <br>
                <input id ="btningresar" type="submit" style="height: 30px; width: 150px;" value="Crear Profesor">
                <br><br>


            </div>

        </div>
        <div class="tabla"> 
            <h1 style="color: #244f92; margin-left: 35px;">Lista de Profesores</h1>
        
            {% if prof_list %}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
            {% for profesor in prof_list %}
            <tr>
              <td> {{ profesor.user.first_name }}  </td>
              <td> {{ profesor.user.last_name }}  </td>
              <td> {{ profesor.user.email }}  </td>
              <td><a href= "{% url 'app:adminverprofesor' profesor.user_id %}">
                ver
            </a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1>No hay grupos</h1>
        {% endif %}

        </div>

    </form>
{% endblock %}