{% extends "app/adminestudiante.html" %}
{% block contenido %}

  <div >
        <form action= "{% url 'app:agregarestudiante' idgrupo%}" method="POST">

          {% csrf_token %}
        <h1 style="color: #244f92; margin-left: 35px">Estudiantes</h1>

        {% if estudiantes %}
        <table>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>codigo</th>
              <th>ID</th>
              <th></th>
            </tr>
            {% for estudiante in estudiantes %}
            <tr>
              <td> {{ estudiante.estudiante.user.first_name }}  </td>
              <td> {{ estudiante.estudiante.user.last_name }}  </td>
              <td> {{ estudiante.estudiante.codigo }}  </td>
              <td> {{ estudiante.id }}  </td>
              <td> <a href= "{% url 'app:eliminarestudiante' estudiante.id %}">
                Eliminar
            </a>  </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1>No hay Estudiantes</h1>
        {% endif %}


        <br />
        <label >Estudiantes</label>

        <select name="estudianteselect" style="height:30px ; background: rgb(197, 245, 245); margin-left: 50px;" >
          {% for estudiante in estudiantes_todos %}
          
          <option value="{{estudiante.user.id}}">{{estudiante.user.username}}</option>
          {% endfor %}
      </select>
        <input id ="btnagregarest" type="submit" style="height: 30px; width: 150px; color: white;" value="Agregar">
      </form>
  </div>

    
{% endblock %}