{% extends "app/adminestudiante.html" %} 
{% block contenido %}
        <form>
        <div class="formulario">
            <div class="area1">
                <h1 style="color:#244f92;">Profesor</h1>
                    <label for="">Nombres</label>
                    <label class="label2" style="margin-left: 5px;" for="">{{ profesor.user.first_name }}</label><br> <br>
                    <label for="">Apellidos</label>
                    <label class="label2" style="margin-left: 5px;" for="">{{ profesor.user.last_name }}</label><br> <br>
                    <label for="">Email</label>
                    <label class="label2" style="margin-left: 32px;" for="">{{ profesor.user.email }}</label><br> <br>
            </div>

        </div>
        <div class="tabla">
            <h1 style="color: #244f92; margin-left: 35px;">Lista de Grupos</h1>

            {% if grupos %}
            <table> 
                <tr>
                    <th>Semestre</th>
                    <th>Código</th>
                    <th>Asignatura</th>
                    <th>No. de estudiantes</th>
                </tr>
                {% for grupos in grupos %}
                <tr>
                  <td> {{ grupos.semestre }}  </td>
                  <td> {{ grupos.codigo }}  </td>
                  <td> {{ grupos.asignatura }}  </td>
                  <td> {{ grupos.id }}  </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h1>No hay profesores</h1>
            {% endif %}

        </div>

    </form>

{% endblock %}