{% extends "app/adminestudiante.html" %} 
{% block contenido %}

<form action= "{% url 'app:admingrupocrear' %}" method="POST" >

    {% csrf_token %}

            <div class="formulario">
                <div class="area1">
                    <h1 style="color:#244f92;">Grupos </h1> 
                        <label for="">*Código de grupo</label>
                        <input type="text"  size="30" class="input-texto" name="codigo">
                        <br>
                        <br>
                        <label for="">*Asignatura</label>
                        <input type="text" size="30" class="input-texto" style=" margin-left: 40px;" name="asignatura">
                        <br>
                        <br>
                        <label for="">Semestre</label>
                        <input type="text" size="30" class="input-texto" style=" margin-left: 40px;" name="semestre">
                </div>
                <div class="area2"> 
                    <label for="">*Profesor</label>
                    <select name="profesor" style="height:30px ; background: rgb(197, 245, 245); margin-left: 50px;" >
                        {% for profesor in profesores %}
                        <option value="{{profesor.user_id}}">{{profesor.user.username}}</option>
                        {% endfor %} 
                    </select>
                    <br>
                    <br>
                    <input id ="btningresar" type="submit" style="height: 30px; width: 150px;" value="Crear">
                    <br><br>
    
                </div>
     
            </div>
            <div class="tabla">
                <h1 style="color: #244f92; margin-left: 35px">Lista de grupos</h1>

                    
            {% if grup_list %}
            <table>
                <tr>
                    <th>Código</th>
                    <th>Asignatura</th>
                    <th>Semestre</th>
                    <th>Profesor </th>
                    <th></th>
                </tr>
                {% for grupo in grup_list %}
                <tr>
                    <td> {{ grupo.codigo }}  </td>
                    <td> {{ grupo.asignatura }}  </td>
                    <td> {{ grupo.semestre }}  </td>
                    <td> {{ grupo.profesor.user.username}}  </td>
                    <td>
                        <a href= "{% url 'app:adminvergrupo' grupo.id %}">
                            editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h1>No hay grupos</h1>
            {% endif %}
            </div>
    
        </form>
    
{% endblock %}