{% extends "app/adminestudiante.html" %} 
{% block contenido %}
<div class="editar"> 
  <h1>Estudiante</h1>
  <form action= "{% url 'app:editarestudiante' info_estudiante.user_id%}" method="POST">

    {% csrf_token %}

    <label for="">Nombre</label>
    <input type="text" size="30" name="nombre" class="input-texto" value=" {{ info_estudiante.user.first_name }} "/>
    <br />
    <br />
    <label for="">Apellido</label>
    <input type="text" size="30" name="apellido" class="input-texto" value=" {{ info_estudiante.user.last_name }} " />
    <br />
    <br /> 
    <label for="">Usuario</label>
    <input type="text" size="30" name="usuario" class="input-texto" value=" {{ info_estudiante.user.username }} " />
    <br />
    <br /> 
    <label for="">Email</label>
    <input
      type="email"
      size="30"
      class="input-texto"
      style="margin-left: 18px"
      name="email"
      value=" {{ info_estudiante.user.email }}"
    />
    <br />
    <br />
    <label for="">Código</label>
    <input type="text" size="30" class="input-texto" style="margin-left: 6px" name="codigo" value=" {{ info_estudiante.codigo }} " />
    <br />
    <br />
    
    <input
      id="btnguardar"
      type="submit"
      style="height: 30px; width: 150px"
      value="Guardar"
    />
  </form>
</div>
{% endblock %}