{% load static %}

<html>

<head>
    <title>Administrador</title>
    <link rel="stylesheet" href="{% static 'app/css/admin.css'%}" >
    
    <meta charset="UTF-8">
</head>

<body>
    <div class="contenedor">
        <div class="cabeza">
            <div class="logousta"><img src="{% static 'app/img/logousta.png'%}"/></div>
            <a style="margin-left: 1240;  font-size: medium ; color: white;" >{{ request.user.username}}</a>
            <br>
            <a id="sesion" href="{% url 'app:cerrar_sesion' %}">Cerrar sesión</a>
        </div>
        <div class="contenido">
        
            
            <div class="admest" >
                <a href= "{% url 'app:adminestudiante' %}"><img src="{% static 'app/img/Admest.PNG'%}"></a>
                <a id="click" style="margin-left: 135px;" href="{% url 'app:adminestudiante' %}">Estudiantes</a>
            </div>

            <div class="admgrup">
                <a href="{% url 'app:admingrupo' %}"><img src="{% static 'app/img/Admgrup.PNG'%}"></a>
                <a id="click" style="margin-left: 150px;" href= "{% url 'app:admingrupo' %}">Grupos</a>
            </div>

            <div class="admprof">
                <a href="{% url 'app:adminprofesores' %}"><img src="{% static 'app/img/Admprof.PNG'%}"></a>
                <a id="click" style="margin-left: 150px;" href="{% url 'app:adminprofesores' %}">Profesores</a>
            </div>
            
        </div>
    </div>
</body>
</html>