{% load static %}
<html lang="en">
<head>
    <title>Estudiantes</title>
    <link rel="stylesheet" href="{% static 'app/css/ver.css'%}" >
    <link rel="stylesheet" href="{% static 'app/css/editar.css'%}">
    <meta charset="UTF-8">
</head>
<body> 

    <div class="contenedor">
        <div class="cabeza">
             <div class="logousta"><img src="{% static 'app/img/logousta.png'%}" /></div>
             <a style="margin-left: 1240;  font-size: medium ; color: white;" >{{ request.user.username}}</a>
             <a id="inicio" href="{% url 'app:admin' %}">Inicio |</a>
             <a id="sesion" href="{% url 'app:index' %}">Cerrar sesión</a>
        </div>
        {% block contenido %}

        <form action= "{% url 'app:adminestudiantecrear' %}" method="POST" >

            {% csrf_token %}

        <div class="formulario">
            <div class="area1">
                <h1 style="color:#244f92;">Estudiantes</h1>
                    <label> *Nombre</label>
                    <input type="text" size="30" class="input-texto" name="nombre" >
                    <br>
                    <br>
                    <label>*Apellido</label>
                    <input type="text" size="30" class="input-texto"  name="apellido">
                    <br>
                    <br>
                    <label>*Email</label>
                    <input type="email" size="30" class="input-texto" name="email" style=" margin-left: 18px; " >
            </div> 
            <div class="area2">
                <label>*Código</label>
                <input type="text"  size="30" name="codigo" class="input-texto" style=" margin-left: 85px; " >
                <br>
                <br>
                <label>*Documento</label>
                <input type="text" class="input-texto" name="documento" size="30" style=" margin-left: 53px; " >
                <br>
                <br>
                <label>*Nombre de usuario</label>
                <input type="text" class="input-texto" name="username" size="30"  >
                <br>
                <button id ="btningresar" style="height: 30px; width: 150px;" >Crear estudiante</button>
                <br><br>

            </div>

        </div>
    

        <div class="tabla">
            <h1 style="color: #244f92; margin-left: 35px;">Lista de estudiantes</h1>
            
            {% if estudiantes %}
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Código</th>
                    <th> correo </th>
                    <th></th>
                </tr>
                {% for estudiante in estudiantes %}
                <tr>
                    <td> {{ estudiante.user.first_name }}  </td>
                    <td> {{ estudiante.user.last_name }}  </td>
                    <td> {{ estudiante.codigo }}  </td>
                    <td> {{ estudiante.user.email }}</td>
                    <td>
                        <a href= "{% url 'app:admineditestu' estudiante.user.id %}">
                            editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h1>No hay estudiantes</h1>
            {% endif %} 
            


        </div>

    </form>
    
    {% endblock %}



    </div>
    
</body>
</html>