{% extends "app/adminestudiante.html" %} 
{% block contenido %}

<form action= "{% url 'app:admineditargrupo' grupo.id %}" method="POST">

  {% csrf_token %}
<div class="formulario">
            <div class="area1">
            <h1 style="color: #244f92">Grupo</h1>
           
           
            <label class="label2" style="margin-left: 100px;"></label>
            <br />
            <br />
            <label for="">Código de grupo</label>
            <input
            name="codigo"
              type="text"
              size="30"
              class="input-texto"
              value=" {{ grupo.codigo }} "
            />
            <br />
            <br /> 
            <label for="">Asignatura</label>
            <input
              type="text"
              size="30"
              class="input-texto"
              name="asignatura"
              style=" 
                margin-left: 40px;
              "
              value=" {{ grupo.asignatura }} "
            /> <br><br>
            <a href= "{% url 'app:adminagregarestudiantegrupo' grupo.id %}" style="margin-left: 40;">Ver estudiantes</a>
          </div>
          <div class="area2" style="margin-left: 50px; " >
            <br />
            <br />
            <label for="">*Profesor</label>
                    <select name="profesor" style="height:30px ; background: rgb(197, 245, 245); margin-left: 50px;" >
                        {% for profesor in profesores %}
                        <option value="{{profesor.user_id}}">{{profesor.user.username}}</option>
                        {% endfor %} 
                    </select>
            <br /><br />
            <label for="">Semestre</label>
            <input
              type="text"
              size="30"
              name="semestre"
              style="
                height: 30px;
                background: rgb(197, 245, 245);
                margin-left: 22px;
              "
              value=" {{ grupo.semestre }} "
            />
            <br /><br />
            <input id ="btnguardargrup" type="submit" style="height: 30px; width: 150px; margin-left: 160px; color: white;" value="Guardar">
          </div>
        </div>
      </form>



{% endblock %}