{% load static %}

<html lang="en">
<head>
    <title>Grupo</title>
    <link rel="stylesheet" href="{% static 'app/css/ver.css'%}">
    <meta charset="UTF-8">
</head>
<body>

    <div class="contenedor">
        <div class="cabeza">
            <div class="logousta"><img src="{% static 'app/img/logousta.png'%}" /></div>
            <a style="margin-left: 1240;  font-size: medium ; color: white;" >{{ request.user.username}}</a>
            <a id="inicio" href="{% url 'app:estudiantes' %}">Inicio |</a>
            <a id="sesion" href="{% url 'app:index' %}">Cerrar sesión</a>
        </div>
        <form>
        <div class="formulario"> 
            <div class="area1">
                <h1>{{ grupo.grupo.asignatura }}</h1>
                <div class="divfondo">
                    <label >Código del grupo</label>
                    <label class="label2" style="margin-left: 15px;" >{{ grupo.grupo.codigo }}</label>
                    <br>
                    <br>
                    <label >Semestre</label>
                    <label class="label2" style="margin-left: 50px;" >{{ grupo.grupo.semestre }}</label>
                    <br>
                    <br>
                    <label >Profesor</label>
                    <label class="label2" style="margin-left: 65px;" >{{grupo.grupo.profesor.user.username}}</label>
                    </div>
                </div>

        <div class="tabla">
            <h1 style="color: #244f92; margin-left: 35px;">Lista de Actividades</h1>
            
            {% if actividades %}
          <table>
            <tr>
                <th>Descripción</th>
                <th>Fecha de entrega</th>
            </tr>
            {% for actividad in actividades %}
            <tr>
              <td> {{ actividad.descripcion}}  </td>
              <td> {{ actividad.fecha_creacion}}  </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1>No hay Actividades</h1>
          {% endif %}


            <h1 style="color: #244f92; margin-left: 35px;">Lista de Notas</h1>
            
            {% if notas %}
          <table>
            <tr>
                <th>Actividad</th>
                <th>Fecha de entrega</th>
            </tr>
            {% for nota in notas %}
            <tr>
              <td> {{ nota.actividad.descripcion}}  </td>
              <td> {{ nota.valor}}  </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1>No hay notas registradas</h1>
          {% endif %}
        </div>

        </div>
    </form>



    </div>
    
</body>
</html>