{% load static %}

<html lang="en">
<head>
    <title>Estudiante</title>
    <link rel="stylesheet" href="{% static 'app/css/ver.css'%}">
    <meta charset="UTF-8">
</head>
<body>

    <div class="contenedor">
        <div class="cabeza">
             <div class="logousta"><img src="{% static 'app/img/logousta.png'%}" /></div>
             <a style="margin-left: 1240;  font-size: medium ; color: white;" >{{ request.user.username}}</a>
            <a id="sesion2" href="{% url 'app:cerrar_sesion' %}">Cerrar sesión</a>
        </div>
        <form>
        <div class="formulario">
            <div class="area1">
                <h1 style="color:#244f92;  ">{{ request.user.username}} </h1>
                
                
                    <label for="">Nombre</label>
                    <label class="label2" >{{request.user.first_name}}</label>
                    <br>
                    <br>
                    <label >Apellido</label>
                    <label class="label2" >{{request.user.last_name}}</label>
                    <br><br>
                    <label >Email</label>
                    <label class="label2" style="margin-left: 55px;" >{{request.user.email}}</label>
                    <br><br>
                    <label >Código</label>
                    <label class="label2" style="margin-left: 45px;" >{{request.user.estudiante.codigo}}</label>

                
            </div> 
            <div class="area2">
                
            </div>

        </div>
        <div class="tabla">
            <h1>Mis grupos</h1>

            {% if grupos %}
          <table>
            <tr>
                <th>Asignatura</th>
                <th>Semestre</th>
                <th>ID del grupo</th>
                <th>   </th>
            </tr>
            {% for grupo in grupos %}
            <tr>
              <td> {{ grupo.grupo.asignatura}}  </td>
              <td> {{ grupo.grupo.semestre }}  </td>
              <td> {{ grupo.grupo.id }}  </td>
              <td> 
                <a href="{% url 'app:estugrupo' grupo.id %}">
                  Ver </a >
              </td>

            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1>No hay Grupos</h1>
          {% endif %}


        </div>
    </form>



    </div>
    
</body>
</html>