{% load static %}


<html>
  <head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'app/css/index.css'%}" >
    <meta charset="UTF-8">
  </head>

  <body>

    <div class="contenedor">
      <div class="cabeza">
        <div class="logousta"><img src="{% static 'app/img/logousta.png'%}" /></div>
      </div>
      
      <div
        style="background-image: url( app/static/app/img/fondoinicio.jpg)"
        class="contenido"
      >
        <div class="imagenestu"><img src="{% static 'app/img/estudiantes.jpg'%}" /></div>

        <div class="iniciar">
          <h1>Accede a la plataforma</h1>
          <form action= "{% url 'app:iniciar_sesion'  %}" method="POST" >

            {% csrf_token %}

            
             <label for="">Nombre de usuario</label>
             <input type="text" size=45 name="username" style="height: 25px;">
             <label for="">Contraseña</label>
             <input type="password" size="45" name="password" style="height: 25px;">
             <input id ="btningresar" type="submit" style="height: 30px; width: 100px;" value="Ingresar">
            {% if error %}
             <span class="error">{{error}}</span>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
