{% load static %}
<html>

<head>
    <title>Profesor</title>
    <link rel="stylesheet" href="{% static 'app/css/admin.css'%}" />
    <meta charset="UTF-8">
</head>

<body>
    <div class="contenedor">
        <div class="cabezaprof">
            <div class="logousta"><img src="{% static 'app/img/logousta.png'%}"/></div>
            <a id="sesion" href="{% url 'app:cerrar_sesion' %}">Cerrar sesión</a>
        </div>
        <div class="contenido">

            <div class="admest" style="margin-left: 150px;">
                <a class="aest" href="{% url 'app:profveract' %}"><img src="{% static 'app/img/Admest.PNG'%}"></a>
                <a id="click" style="margin-left: 140px;" href="{% url 'app:profveract' %}">Actividades</a>
            </div> 

            <div class="admgrup" style="margin-left:220px;">
                <a href="{% url 'app:proflistagrupos' %}"><img src="{% static 'app/img/Admgrup.PNG'%}"></a>
                <a id="click" style="margin-left: 160px;" href="{% url 'app:proflistagrupos' %}">Grupos</a>
            </div>
            
        </div>
    </div>
</body>
</html>