{% load static %}

<html lang="en">
  <head>
    <title>Actividad</title>
    <link rel="stylesheet" href="{% static 'app/css/ver.css'%}" />
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="contenedor">
        <div class="cabezaprof">
          <div class="logousta"><img src="{% static 'app/img/logousta.png'%}" /></div>
          <a style="margin-left: 1240;  font-size: medium ; color: white;" >{{ request.user.username}}</a>
          <a id="inicio" href="{% url 'app:profesor' %}">Inicio |</a>
          <a id="sesion" href="{% url 'app:index' %}">Cerrar sesión</a>
        </div>
        
        {% block contenido %}
        <form action= "{% url 'app:profveractcrear'  %}" method="POST" >

          {% csrf_token %}

        <div class="formulario">
          <div class="area1">
            <h1>Actividades</h1>

            <label for="">Grupo</label>
                    <select name="grupo" style="height:30px ; background: rgb(197, 245, 245); margin-left: 50px;" >
                        {% for grupo in grupos %}
                        <option value="{{grupo.id}}">{{grupo.asignatura}}</option>
                        {% endfor %} 
                    </select>

            <br><br>


            <label for="">Descripción</label>
            <input
              type="text"
              size="50"
              class="input-texto"
              style="height: 100px; margin-left: 10px;"
              name="descripcion"
            />
          </div>  
          <div class="area2">
            <label for="">Fecha de entrega</label>
            <input
              type="date"
              class="input-texto"
              style="margin-left: 18px"
              name="fecha"
            /> <br><br>
            <input
              id="btningresar"
              type="submit"
              style="height: 30px; width: 150px"
              value="Crear actividad"
            />
          </div>
        </div>
        <div class="tabla">
          <h1 >
            Lista de Actividades
          </h1>
          {% if actividades %}
          <table>
            <tr>
              <th>Grupo</th>
              <th>Asignatura</th>
              <th>Descripción</th>
              <th>Fecha de entrega</th>
              <th>Profesor</th>
              <th>ID</th>
              
            </tr>
            {% for acti in actividades %}

            {% if request.user.username == acti.grupo.profesor.user.username %}
            <tr>
              <td> {{ acti.grupo.codigo }}  </td>
              <td> {{ acti.grupo.asignatura }}  </td>
              <td> {{ acti.descripcion }}  </td>
              <td> {{ acti.fecha_creacion }}  </td>
              <td> {{ acti.grupo.profesor.user.username }}  </td>
              <td> {{ acti.id }} 
            </tr>
            {% endif %}
            {% endfor %}
          </table>
          {% else %}
          <h1>No hay Estudiantes</h1>
          {% endif %}

          
          
        </div>
      </form>
      {% endblock %}
    </div>
  </body>
</html>
