{% extends "app/profveract.html" %} 
{% block contenido %}
      <form>
        <div class="formulario">
          <div class="area1">
              <br><br>
          </div>
        </div>
      

      <div class="tabla">
        <h1 style="color: #244f92; margin-left: 35px">Lista de Grupos</h1>

        {% if proflista_grupos %}
        <table>
            <tr>
              <th>Grupo</th>
              <th>Asignatura</th>
              <th>Semestre</th>
              <th> </th>
              
            </tr>
            {% for grupo in proflista_grupos %}

            <tr>
              <td> {{ grupo.codigo }}  </td>
              <td> {{ grupo.asignatura }}  </td>
              <td> {{ grupo.semestre }}  </td>
              <td> 
                <a href= "{% url 'app:profvergrupo' grupo.id %}">
                  ver
                </a>
                
              </td>
              
            {% endfor %} 
        </table>
        {% else %}
        <h1>No hay Grupos</h1>
        {% endif %}

       

    </form>
    {% endblock %}


