{% extends "app/profveract.html" %} 
{% block contenido %}

      <form>
        <div class="formulario">
          <div class="area1">
            <h1>{{ info_grupo.asignatura}}</h1>
            <br>
            <label >Código</label>
            <label class="label2" style="margin-left: 60px;" >{{ info_grupo.codigo }}</label><br> <br>
            <label >Semestre</label>
            <label class="label2" style="margin-left: 35px;" >{{ info_grupo.semestre}}</label><br> <br>
            
          </div>
        </div>
      

      <div class="tabla">

        <h1>Estudiantes</h1>
        {% if estudiantes %} 
        <table>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>codigo</th>
              <th>  </th>
              
            </tr>
            {% for estudiante in estudiantes %}
            <tr>
              <td> {{ estudiante.estudiante.user.first_name}}  </td>
              <td> {{ estudiante.estudiante.user.last_name}}  </td>
              <td> {{ estudiante.estudiante.codigo}}  </td>
              <td> 
                <a href= "{% url 'app:profeactynota' estudiante.id %}">
                  ver
                </a>
              </td>
              
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1>No hay Estudiantes</h1>
        {% endif %}

        <h1>Actividades</h1>
        {% if actividades %}
          <table>
            <tr>
              <th>Grupo</th>
              <th>Asignatura</th>
              <th>Descripción</th>
              <th>Fecha de entrega</th>
              <th>ID</th>
              <th>  </th>
            </tr>
            {% for actividad in actividades %}
            <tr>
              <td> {{ actividad.grupo }}  </td>
              <td> {{ actividad.grupo.asignatura }}  </td>
              <td> {{ actividad.descripcion }}  </td>
              <td> {{ actividad.fecha_creacion }}  </td>
              <td> {{ actividad.id }}
              <td> 
                <a href="{% url 'app:veractividad' actividad.id %}">
                  Ver </a >
              </td>

            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1>No hay Actividades</h1>
          {% endif %}

    </form>
    {% endblock %}


