{% extends "app/profveract.html" %} 
{% block contenido %}
        <form>
        <div class="formulario">
          <div class="area1">
    
            <h1>{{ estudiante.estudiante.user.first_name}} </h1>
          <div class="area2">
            
            
          </div>
        </div>
        <div class="tabla">
          {% if nota %}
            <table>
                <tr>
                    <th style="padding: 10px 350px;">Actividad</th>
                    <th style="padding: 10px 100px;">Nota</th>
                    
                </tr>
                {% for actividad in nota %}
                <tr>
                  <td> {{ actividad.actividad.descripcion }}  </td>
                  <td> {{ actividad.valor }}  </td> 
                  
                </tr>
                {% endfor %}
              </table>
              {% else %}
              <h1>No hay Actividades</h1>
              {% endif %}
    


                
    
          
        </div>
      </form>
{% endblock %}