{% extends "app/profveract.html" %} 
{% block contenido %}

<form action= "{% url 'app:guardarnota' actividad.id info.id%}" method="POST" >

  {% csrf_token %}
        <div class="formulario">
          <div class="area1">
            <h1 style="color: #244f92">Actividad</h1>

            <label>Descripción </label>
            <label class="label2" style="margin-left: 10px;" >{{ actividad.descripcion}}</label>
            <br />
            <br />
            <label>Código del grupo</label>
            <label class="label2" style="margin-left: 38px;">{{ info.grupo.codigo }}</label>
            <br>
            <br>
            <label>Estudiante</label>
            <label class="label2" name="estudiante" style="margin-left: 5px;">{{ info.estudiante.user.first_name }}</label>
            <br>
            <br>
            <label>Nota</label>
            <input 
            type="text"
            size="30"
            name="nota"
            class="input-texto"
            style=" margin-left: 60px;" 
            >
            <br>
            <br>
            <input id ="btningresar" type="submit" style="height: 30px; width: 100px;" value="Guardar">
          </div>
          <div class="area2">
            
            
          </div>
        </div>
        <div class="tabla">

        </div>
      </form>
      {% endblock %}
