{% extends "app/profveract.html" %} 
{% block contenido %}
        <form>
        <div class="formulario">
          <div class="area1">
            <h1 style="color: #244f92">Actividad</h1>


            <label for="">Codigo de grupo</label>
            <label class="label2"  for="">{{ actividad.grupo.codigo }}</label>
            <br>
            <br>
            <label for="">Asignatura</label>
            <label class="label2" style="margin-left: 82px;" for="">{{ actividad.grupo.asignatura }}</label>
            <br>
            <br>
            <label for="">Semestre</label>
            <label class="label2" style="margin-left: 90px;" for="">{{ actividad.grupo.semestre }}</label>
            
          </div>
          <div class="area2">
            <label for="">Descripción </label>
            <br>
            <input 
            type="text"
            size="50"
            class="input-texto"
            style="height: 200px; margin-left: 40px"
            value="{{actividad.descripcion}}"
            > 
            <br>
            <br>
            <input id ="btningresar" type="submit" style="height: 30px; width: 100px; " value="Guardar">
          </div>
        </div>
        <div class="tabla">
          <h1 style="color: #244f92; margin-left: 35px">
            Lista de estudiantes
          </h1>
          {% if estudiantes %}
        <table>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>calificar</th>
              
            </tr>
            {% for estudiante in estudiantes %}
            
            {% if estudiante.grupo_id ==  actividad.grupo_id %}
            
            <tr>
              <td> {{ estudiante.estudiante.user.first_name }}  </td>
              <td> {{ estudiante.estudiante.user.last_name }}  </td>
              <td> 
                <a href= "{% url 'app:profnota' actividad.id estudiante.id %}">
                  calificar
                </a>
              </td>
              
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% else %}
        <h1>No hay Estudiantes</h1>
        {% endif %}
        </div>
        <div class="tabla">
          <h1 style="color: #244f92; margin-left: 35px">
            Notas registradas
          </h1>
          {% if notas %}
        <table>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Nota</th>
              
            </tr>
            {% for nota in notas %}
            
            {% if nota.estudiantegrupo.grupo.id ==  actividad.grupo_id %}
            
            <tr>
              <td> {{ nota.estudiantegrupo.estudiante.user.first_name }}  </td>
              <td> {{ nota.estudiantegrupo.estudiante.user.last_name }}  </td>
              <td> {{ nota.valor }}  </td>
              <td> 
                <a href= "{% url 'app:profnota' actividad.id nota.estudiantegrupo_id %}">
                  Editar
                </a>
              </td>
              
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% else %}
        <h1>No hay notas registradas</h1>
        {% endif %}
        </div>
      </form>
      {% endblock %}

