body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
  width: 100vw;
  height: 80vw;
  background: white;
  display: grid;
  grid-template: 0.06fr 1fr / 1fr;
}

#sesion{
  font-size: medium; color: white; margin-left: 1240; margin-bottom: 50px; text-decoration: none;
}


.cabeza {
  background: #244f92;
  grid-row: 1/2;
  grid-column: 1/2;
}
.cabezaprof {
  background: #FFD913;
  grid-row: 1/2;
  grid-column: 1/2;
}
.logousta{
    margin-top: 12px;
}
.contenido {
  margin-top: 10px;
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  background: white;
}
.admest {
  margin: 20px;
}
.admgrup {
  margin: 20px;
}
.admprof {
  margin: 20px;
}
a{
    color: #244f92;
    font-size: x-large;
}

#click{
  text-decoration: none;
}

.aest{
  color: #FFD913;
  font-size: x-large;
  text-decoration: none;
}