body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
    ;
  }

  #sesion{
    font-size: medium; color: white; margin-left: 5px; text-decoration: none;
  }
  #inicio{
    font-size: medium; color: white; margin-left: 1185; text-decoration: none;
  }

  .contenedor {
    width: 100vw;
    height: 80vw;
    background: white;
    display: grid;
    grid-template: 0.06fr 1fr / 1fr;
  }

  .cabeza{
    background: #244f92;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .logousta{
    margin-top: 12px;
  }

  .editar{
    background: white;
    grid-row: 2/3;
    grid-column: 1/2;
    color: #244f92;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #btnguardar{
    background:#244f92;
    color: white;
    margin-left: 158px;
    margin-top: 20px;
  }

  input{
    border-radius: 5px;
    border-style: hidden;
}

.input-texto{
  height:30px;
   background: rgb(197, 245, 245);
}

a{
  color: #244f92;
}
.label2{
  color: black;
}



  