body{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 100vw;
    height:  80vw;
    background:white ;
    display:grid;
    grid-template: 0.06fr 1fr / 1fr 

}
.cabeza{
background: #244f92;
grid-row: 1/2;
grid-column:1/2 ;

}
.contenido{
    margin-top: 10px; 
    grid-row: 2/3;
    grid-column:1/2 ;
    display: grid;
    grid-template: 1fr / repeat(2 , 1fr);
}

.logousta{
    margin-top: 12px;
}

.imagenestu{

    margin-top: 60px ;
    margin-left: 20px; 
    
    
}

.iniciar{
    margin-top: 100px ;
    margin-left: 100px;
    width: 400px;
    height: 315px; 
    background: rgb(209, 202, 202);
    border-radius: 30px;
    

}

h1{
    margin: 20px;
    color: #244f92;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

input{
    margin: 10px;
    margin-left: 20px;
    border-radius: 5px;
    border-style: hidden;
}

label{
    margin: 20px;
    color: #244f92;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

#btningresar{
    background: #244f92;
    color: white;
    font-size: large;
}

a{
    color: #244f92;
}

.label2{
    color: black;
}