body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  #sesion{
    font-size: medium; color: white; margin-left: 5px; text-decoration: none;
  }
  #inicio{
    font-size: medium; color: white; margin-left: 1185; text-decoration: none;
  }
  #sesion2{
    font-size: medium; color: white; margin-left: 1240; text-decoration: none;
  }
  .contenedor {
    width: 100vw;
    height: 80vw;
    background: white;
    display: grid;
    grid-template: 0.1fr 0.4fr 1fr / 1fr;
  }

  .cabeza{
    background: #244f92;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .cabezaprof {
    background: #FFD913;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .logousta{
    margin-top: 12px;
  }

  .formulario{
      background: white;
      grid-row: 2/3;
      grid-column: 1/2;
      display: grid;
      grid-template: 1fr / repeat(2 , 1fr);
     
  }


  .area1{
     
      margin-left: 30px;
  }

  h1{
      font-family: Arial, Helvetica, sans-serif;
      color: #244f92;
      margin-left: 35px
  }

  label{
      font-family: Arial, Helvetica, sans-serif;
      color:#244f92;
      margin-left: 40px;
  }

  .area2{
      margin-top: 75px;
  }

  input{
    background:#244f92;
    color: black;
  }


  #btningresar{
      background:#244f92;
      color: white;
      margin-left: 180px;
      margin-top: 20px;


  }
 
  .tabla{
      background:white;
      grid-row: 3/4;
      grid-column: 1/2;   

  }

 
  table,th,td{
      border: 1px solid white;
      border-collapse:collapse ;
      background:lightgray;
      color: black;
      margin-left: 50px;
      font-family: Arial, Helvetica, sans-serif;
  }

  td,th{
      text-align: center;
      padding: 5px 60px;
  }

  

  input{
    border-radius: 5px;
    border-style: hidden;
}
  .input-texto{
    height:30px;
     background: rgb(197, 245, 245);
  }

  a{
    color: #244f92;
}

.label2{
  color: black;
}

.divfondo{
width: 350px;
height: 100;
margin-left: px;
padding: 10px;
text-size-adjust: initial;
background-color: rgb(220, 250, 250) ;
border-width: 25px;
border-color: black;
}
  